target
vscode/.cache
vscode/.DS_Store
vscode/*.log
vscode/*.tgz
vscode/*.vsix
vscode/coverage
vscode/dist
vscode/lib-cov
vscode/logs
vscode/node_modules
vscode/temp
vscode/pnpm-lock.yaml
.pnpm-debug.log
.env
