[workspace]
members = [
  # Shared protocol
  "proto",
  # sourcekit build server helper
  "sourcekit",
  # Main xbase daemon
  "daemon",
  # library to communicate with the daemon
  "editor",
]

[profile.dev]
debug = 0

[profile.release]
incremental = true
debug = 0
